@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1666342446551') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liuliang:before {
  content: "\f02d9";
}

.icon-yinliang:before {
  content: "\e6c4";
}

.icon-liwu:before {
  content: "\e6e0";
}

.icon-dianying:before {
  content: "\e6ee";
}

.icon-tupian:before {
  content: "\e6f5";
}

.icon-fujian:before {
  content: "\e6f6";
}

.icon-luxiangji:before {
  content: "\e6fa";
}

.icon-shenpi:before {
  content: "\e6ff";
}

.icon-bukejian:before {
  content: "\e711";
}

.icon-kejian:before {
  content: "\e73c";
}

.icon-luzhi:before {
  content: "\e741";
}

.icon-maikefeng:before {
  content: "\e742";
}

.icon-pingmugongxiang:before {
  content: "\e746";
}

.icon-qianbao:before {
  content: "\e747";
}

.icon-shiwu-maikefeng:before {
  content: "\e753";
}

.icon-xiangji:before {
  content: "\e763";
}

.icon-yuyin:before {
  content: "\e76b";
}

.icon-zhuye:before {
  content: "\e76e";
}

.icon-maikefeng1:before {
  content: "\e60f";
}

.icon-zhubochengchang:before {
  content: "\e62e";
}

.icon-renzheng:before {
  content: "\10071";
}

.icon-lanVrenzheng:before {
  content: "\100d2";
}

.icon-shenfenzhengrenzheng:before {
  content: "\100d3";
}

.icon-anquanrenzheng:before {
  content: "\100d4";
}

.icon-yinhangkarenzheng:before {
  content: "\100d5";
}

.icon-shoujirenzheng:before {
  content: "\100d6";
}

.icon-shipinrenzheng:before {
  content: "\100d7";
}

.icon-ziliaorenzheng:before {
  content: "\100d8";
}

.icon-zimeitirenzheng:before {
  content: "\100d9";
}

