@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1665194853476') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liuliang:before {
  content: "\f02d9";
}

.icon-maikefeng:before {
  content: "\e60f";
}

.icon-zhubochengchang:before {
  content: "\e62e";
}

.icon-renzheng:before {
  content: "\10071";
}

.icon-lanVrenzheng:before {
  content: "\100d2";
}

.icon-shenfenzhengrenzheng:before {
  content: "\100d3";
}

.icon-anquanrenzheng:before {
  content: "\100d4";
}

.icon-yinhangkarenzheng:before {
  content: "\100d5";
}

.icon-shoujirenzheng:before {
  content: "\100d6";
}

.icon-shipinrenzheng:before {
  content: "\100d7";
}

.icon-ziliaorenzheng:before {
  content: "\100d8";
}

.icon-zimeitirenzheng:before {
  content: "\100d9";
}

